PREFIX geo: <http://www.opengis.net/ont/geosparql#>
PREFIX kg4di: <https://cefriel.github.io/kg4di#>
PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
PREFIX xsd: <http://www.w3.org/2001/XMLSchema#>
PREFIX tmjou: <https://w3id.org/mobility/transmodel/journeys#>
 
#set ($stops = $reader.getDataframe())
 
#foreach ($stop in $stops)
kg4di:$stop.stop_id rdf:type geo:Feature ;
	rdf:type tmjou:ScheduledStopPoint ;
	rdfs:label "$stop.stop_name" ;
	geo:hasGeometry [ geo:asWKT "Point($stop.stop_lon $stop.stop_lat)"^^geo:wktLiteral ] .
#end