PREFIX geo: <http://www.opengis.net/ont/geosparql#>
PREFIX kg4di: <https://cefriel.github.io/kg4di#>
PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
PREFIX xsd: <http://www.w3.org/2001/XMLSchema#>
PREFIX tmjou: <https://w3id.org/mobility/transmodel/journeys#>

#* 
Reader is already initialized with the GTFS data from Chimera route, we just need to get the dataframe.
As it is a CSV a query parameter is not needed.
*#
#set($data = $reader.getDataframe())

