---
---

@import "{{ site.theme }}";

.page-header {
  background-image: url("{{ site.baseurl }}/dubrovnik.png");
  background-size: cover;
  background-position: center;
}

.page-header .project-name,
.page-header .project-tagline {
  color: #000000;
  text-shadow: none;
}

